*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
  height: 100vh;
  background-image: radial-gradient(rgb(251, 216, 58), rgb(99, 237, 68));
}