*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: linear-gradient(#f8798c  ,#fad4d1  );
    height: 100vh;
}

